body {
    text-align: center;
}
.btn {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 30%;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.btn-container {
    display: flex;
    justify-content: center;
    
}
.yellow {
    background-color: yellow;
}
.pink {
    background-color: pink;
}
.green {
    background-color: rgb(69, 98, 69) ;
}
.purple {
    background-color: purple;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}